---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "laoshe"
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
    - host: laoshengchashe.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: laoshe
                port:
                  number: 80
    - host: laoshengcha.cn
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: laoshe
                port:
                  number: 80
    - host: laoshengcha.com.cn
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: laoshe
                port:
                  number: 80
    - host: laoshengcha.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: laoshe
                port:
                  number: 80
    - host: laoshengchashe.cn
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: laoshe
                port:
                  number: 80
    - host: laoshengchashe.com.cn
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: laoshe
                port:
                  number: 80
