---
apiVersion: v1
kind: Service
metadata:
  name: leilong
  labels:
    app: leilong
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
  selector:
    app: leilong

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: leilong
  labels:
    app: leilong
spec:
  replicas: 1
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: leilong
  template:
    metadata:
      labels:
        app: leilong
    spec:
      restartPolicy: Always
      containers:
        - name: leilong
          image: "registry.cn-beijing.aliyuncs.com/36node/app-on-building:main"
          imagePullPolicy: "{{ image_pull_policy }}"
          env:
            - name: DEPLOY_TIME
              value: "{{ leilong_time }}"
            - name: REACT_APP_ECHO
              value: "true"
            - name: REACT_APP_TITLE
              value: "雷龙网"
            - name: REACT_APP_COPYRIGHT
              value: "雷龙网2021"
            - name: REACT_APP_BEIAN
              value: "鲁ICP备13020108号-1"
          ports:
            - name: http
              containerPort: 80
          resources:
            limits:
              cpu: "1000m"
              memory: "1Gi"
            requests:
              cpu: "10m"
              memory: "32Mi"
