---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "leilong"
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
    - host: "leilong.com.cn"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: leilong
                port:
                  number: 80
    - host: "lei-long.com.cn"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: leilong
                port:
                  number: 80
    - host: "lei-long.cn"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: leilong
                port:
                  number: 80
    - host: "lei-long.com"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: leilong
                port:
                  number: 80
    - host: "leilongwang.com"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: leilong
                port:
                  number: 80
    - host: "leilongwang.cn"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: leilong
                port:
                  number: 80
    - host: "leilongwang.com.cn"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: leilong
                port:
                  number: 80
            